<!DOCTYPE html>
<html>
<head>
  <title>LoginFace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div> -->
  <div class="container-fluid" style="text-align: justify">
    <%= render 'shared/menu' %>
    <h1 class="page-header"> Test Bootstrap</h1>
    <%= yield %>
  </div>
</body>
</html>
